@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

i em{
	font-style: normal;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

section[epub|type~="chapter"] > ol > li p:first-child{
	text-indent: 1em;
}

section[epub|type~="chapter"] > ol > li:first-of-type p{
	text-indent: 0;
}
